* {
    margin: 0;
}

:root {
    --white: #fff;
    --bgc: #342E37;
    --light-gray: #676264;
    --shadow: #2E282A;
}

body {
    background: var(--bgc);
}

header {
    width: 100%;
    height: 455px;
    background-image: url("../img/bg-hero.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    color: var(--white);
    font-family: 'Space Mono', monospace;
    font-size: 6rem;
    text-align: center;
    font-weight: 900;
    text-shadow: 6px 9px 12px var(--shadow);
    padding-top: 150px;
}

img {
    max-width: 10%;
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: var(--light-gray);
    padding: 20px 80px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 6px var(--shadow);
}

.btn a {
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

.btn:hover {
    box-shadow: 0 4px var(--shadow);
    top: 2px;
}

.btn:active {
    box-shadow: none;
    top: 6px;
}

footer {
    height: 150px;
    background-color: var(--light-gray);
    color: var(--white);
    text-align: center;
}

footer p {
    font-size: x-large;
    padding-top: 55px;
}

@media (max-width: 768px) {
    header {
        width: 320px auto;
        height: auto;
        background-position-x: center;
    }

    h1 {
        font-size: 3rem;
        padding-top: 0;
    }

    img {
        max-width: 30%;
    }

    .btn {
        width: 75%;
        padding: 20px 30px;
    }
    
    footer p {
        font-size: medium;
        padding-top: 55px;
    }
}